  
  .video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }
  
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .container {
    background-color: white;
    width: 80%;
    max-width: 900px;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

  
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body{
  background-color: white;
  overflow-x: hidden;
    
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face{
  font-family: adam;
  src: url(Adam-Medium.ttf)
}

@font-face{
  font-family: vogue;
  src: url(SandeMoreDemo-Bold.otf)
}


.w3-bar-item{   
  font-family: vogue;
  margin-bottom: 2px;
  margin-right: 22px;
}
.w3-top div a:hover {
  color: yellow;
  font-family: adam;
}
a{
  text-decoration: none;
}
.book {
font-family: adam;
  background-color: white;
  color: black;
  border: none;
  padding: 5px 20px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer;
}

.book.hover {
  background-color: gold;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
}


.butt{
  background-color: white;
  padding: 10px 10px;
}

.container {
  background-color: white;
  width: 80%;
  max-width: 900px;
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}








.submit-button {
  background-color: black; /* Set the background color */
  color: white; /* Set the text color */
  padding: 10px 20px; /* Add padding */
  border: none; /* Remove the default border */
  cursor: pointer; /* Add a pointer cursor on hover */
  border-radius: 4px; /* Add border radius */

}


.Welcome
{
  font-family: adam;
  text-transform: uppercase;
  text-align: center;
  font-size: 35px;
}
.Welcome1
{
  font-family: vouge;
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
}
.first
{

  font-size: 25px;

  font-family: adam;
}
/* Style for the select wrapper */
.select-wrapper {
    position: relative;
    display: inline-block;
    /* Adjust the width as needed */
    width: 200px;
    /* Customize the background and border */
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
  }
  
  /* Style for the select element */
  .select {
    width: 100%;

    font-size: 16px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  /* Style for the arrow icon */
  .select:after {
    content: '\25BC'; /* Unicode arrow-down character */
    font-size: 16px;
    color: #333;
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
  }
  

  .content {
    max-width: 100%;
    margin: auto;
    padding: 0px 30px;
}

.navbar {
    position: fixed;
    z-index: 5;
    width: 100%;
    padding: 3px 0;
    background-color: black;
    transition: all 0.3s ease;
}

.navbar .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar.sticky {
    padding: 30px 0;
    background-color: black;
}

.navbar .menulist {
    display: inline-flex;
    align-items: center;
    /* Add this line to align the button vertically */
}

.menulist li a {
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 25px;
    font-family: adam;
}

.menulist li {
    list-style: none;
}

.menulist li a:hover {
    color: gold;
}

.icon {
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.icon.cancel-btn {
    position: absolute;
    right: 30px;
    top: 20px;
}

.logo {
    width: 7%;
    height: 7%;
}

.book {
    color: black;
    border-color: white;
    background-color: white;
    font-family: adam;
    padding: 10px 20px;
    /* Adjust the padding as needed */
    margin-left: 25px;
    /* Add margin to create space between the button and the previous list item */
    font-size: large;
}

.book:hover {
    color: gold;
    border-color: white;
    background-color: white;
    font-family: adam;
    padding: 10px 20px;
    /* Adjust the padding as needed */
    margin-left: 25px;
    /* Add margin to create space between the button and the previous list item */
    font-size: large;
}

@media(max-width: 1100px) {
    .icon {
        display: block;
    }

    .icon.hide {
        display: none;
    }

    .navbar .menulist {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 100%;
        max-width: 400px;
        background: #222;
        display: block;
        padding: 40px 0;
        text-align: center;
        transition: all 0.3s ease;
    }

    .navbar .menulist.active {
        left: 0%;
    }

    .navbar .menulist li {
        margin-top: 45px;
    }

    .navbar .menulist li a {
        font-size: 23px;
    }
}