

  
  .video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }
  
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
body{
    background-color: white;
    overflow-x: hidden;
      
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face{
    font-family: adam;
    src: url(Adam-Medium.ttf)
}

@font-face{
    font-family: vogue;
    src: url(SandeMoreDemo-Bold.otf)
}


.w3-bar-item{   
    font-family: vogue;
    margin-bottom: 2px;
    margin-right: 22px;
}
.w3-top div a:hover {
    color: yellow;
    font-family: adam;
  }
  a{
    text-decoration: none;
}



.butt{
    background-color: white;
    padding: 10px 10px;
}

.container {
    background-color: white;
    width: 80%;
    max-width: 900px;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.credit-card {

    background-color: #eee;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    margin: 7px auto;
  }
  
  .card-number {
    font-size: 25px;
    letter-spacing: 2px;
    font-family: adam;
  }
  

  



.submit-button {
    background-color: black; /* Set the background color */
    color: white; /* Set the text color */
    padding: 10px 20px; /* Add padding */
    border: none; /* Remove the default border */
    cursor: pointer; /* Add a pointer cursor on hover */
    border-radius: 4px; /* Add border radius */

  }


.Welcome
  {
    font-family: adam;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
  }

.first
  {

    font-size: 20px;

    font-family: adam;
  }
.image{


    width: 90px;
}
.credit-card-container {

    background-size: cover;
    background-position: center;
}