body {
    background-color: white;
}

* {
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

@font-face {
    font-family: adam;
    src: url(Adam-Medium.ttf)
}

@font-face {
    font-family: vogue;
    src: url(SandeMoreDemo-Bold.otf)
}

.content {
    max-width: 100%;
    margin: auto;
    padding: 0px 40px;
}

.navbar {
    position: fixed;
    z-index: 5;
    width: 100%;
    padding: 10px 0;
    background-color: black;
    transition: all 0.3s ease;
}

.navbar .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar.sticky {
    padding: 30px 0;
    background-color: black;
}



.content {
    max-width: 100%;
    margin: auto;
    padding: 0px 40px;
}

.navbar {
    position: fixed;
    z-index: 5;
    width: 100%;
    padding: 10px 0;
    background-color: black;
    transition: all 0.3s ease;
}

.navbar .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar.sticky {
    padding: 30px 0;
    background-color: black;
}

.navbar .menulist {
    display: inline-flex;
    align-items: center;
    /* Add this line to align the button vertically */
}

.menulist li a {
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 25px;
    font-family: adam;
}

.menulist li {
    list-style: none;
}

.menulist li a:hover {
    color: gold;
}

.icon {
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.icon.cancel-btn {
    position: absolute;
    right: 30px;
    top: 20px;
}

.logo {
    width: 8%;
    height: 8%;
}

.book {
    background-color: white;
    color: black;
    border: none;
    padding: 5px 20px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .book.hover {
    background-color: gold;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
  }
  

@media(max-width: 1100px) {
    .icon {
        display: block;
    }

    .icon.hide {
        display: none;
    }

    .navbar .menulist {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 100%;
        max-width: 400px;
        background: #222;
        display: block;
        padding: 40px 0;
        text-align: center;
        transition: all 0.3s ease;
    }

    .navbar .menulist.active {
        left: 0%;
    }

    .navbar .menulist li {
        margin-top: 45px;
    }

    .navbar .menulist li a {
        font-size: 23px;
    }
}

.mainimg {
    position: absolute;
    top: 90px;
    left: 0%;
    width: 100%;
    pointer-events: none;
}

.heading {
    text-align: center;
    padding-bottom: 60px;
}

.hotel-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.image {
    flex: 1;
    padding: 0 10px;
}

.image img {
    width: 115%;
    height: 115%;
}

.content {
    flex: 2;
    padding: 0 10px;
}

.heading4 {
    top: 0%;
    font-family: vogue;
    font-size: 30px;
    display: block;
    text-align: center;
    margin-left: 15%;
    width: 80%;
}

.container {
    position: relative;
}

.container .slide-container .slide {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px 9%;
    padding-bottom: 70px;
}

.container .slide-container .slide .content {
    flex: 1 1 350px;
    animation: slideContent .4s linear .6s backwards;
}

@keyframes slideContent {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
}

.container .slide-container .slide .content .heady {
    font-size: 45px;
    font-family: vogue;
}

.container .slide-container .slide .content .par {
    font-size: 20px;
}

.container .slide-container .slide .image {
    flex: 1 1 450px;
}

.container .slide-container .slide .image img {
    width: 100%;
    animation: slideImage .4s linear .6s backwards;
}

@keyframes slideImage {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
}

.container .slide-container .slide .content .btn {
    margin-top: 10px;
    display: inline-block;
    background: #1c1c1c;
    color: white;
    font-size: 17px;
    padding: 9px 40px;
    text-decoration: none;
}

.container .slide-container .slide .content .btn:hover {
    color: gold;
}

.container .slide-container {
    display: none;
}

.container .slide-container.active {
    display: block;
}

.container #prev,
.container #next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    height: 50px;
    width: 40px;
    line-height: 50px;
    font-size: 40px;
    text-align: center;
    cursor: pointer;
    font-weight: bolder;
}

.container #prev:hover,
.container #next:hover {
    background: #666;
}

.container #prev {
    left: 20px;
}

.container #next {
    right: 20px;
}

.req {
    font-family: vogue;
    font-size: 20px;
}

.container27 {
    width: 80%;
    margin: 50px auto;
}

#contacting {
    position: relative;
    background: url(sg.jpg);
    width: 100%;
    height: 85vh;
    background-position: center;
    background-attachment: fixed;
    background-size: 140%;
}

.container27 {
    width: 80%;
    margin: 50px auto;
}

.contact-box {
    display: flex;
}

.contact-left {
    flex-basis: 60%;
    padding: 40px 60px;
}

.contact-right {
    flex-basis: 40%;
    padding: 40px;
    background: black;
    color: white;
}

.conhead {
    margin-bottom: 60px;
    text-align: center;
}

.container27 p {
    margin-bottom: 40px;
}

.inputrow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.inputgrp {
    flex-basis: 45%;
}

input {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding-bottom: 20;
}

textarea {
    width: 100%;
    border: 1px solid black;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
}

label {
    margin-bottom: 6px;
    display: block;
}

.submitbtn {
    font-size: 15px;
    margin-top: 20px;
    background: black;
    color: white;
    height: 50px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 35px;
}

.submitbtn:hover {
    color: gold;
}

tr td:first-child {
    padding-right: 30px;
}

tr td {
    padding-bottom: 30px;
}

.roomsandsuites {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.headers {
    text-decoration: underline;
    text-align: center;
    font-size: 30px;
    margin-top: 80px;
    margin-bottom: 10px;
}

.room {
    margin: 10px;
    height: 70vh;
}

.roomimg {
    width: 360px;
    height: 270px;
}

.rtext {
    font-size: 20px;
}

.rhead {
    font-family: vogue;
    font-size: 25px;
}

.rb {
    display: flex;
    justify-content: center;
    align-items: center;
}

.roombtn {
    font-weight: bold;
    margin-top: 60px;
    background: gold;
    color: white;
    font-size: 15px;
    height: 50px;
    width: 40%;
    border: none;
    outline: none;
    border-radius: 35px;
}

.roombtn:hover {
    color: black;
    border: 1px solid gold;
    background-color: white;
}

.esub {
    font-size: 18px;
}

.map {
    width: 100%;
    height: 400px;
}

.reviews {
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.revbox {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    width: 80%;
    height: 50vh;
}

.user {
    font-family: vogue;
    font-size: 20px;
    padding-top: 5%;
}

.igposts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.igp,
.iguser {
    display: flex;
}

.image {
    overflow-y: hidden;
    padding-right: 20px;
}

.image:hover{
    opacity: 70%;
}

.username {
    padding-right: 20px;
}

.submit-button {
    background-color: black;
    /* Set the background color */
    color: white;
    /* Set the text color */
    padding: 10px 20px;
    /* Add padding */
    border: none;
    /* Remove the default border */
    cursor: pointer;
    /* Add a pointer cursor on hover */
    border-radius: 4px;
    /* Add border radius */

}

.instag {

    width: 60px;
}

.hyperlink5 {
    text-decoration: none;

    float: left;
    font-size: 22px;

    float: right;
}

.hyperlink5:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

.hyperlink5:hover {
    color: goldenrod;
    background-color: transparent;
    text-decoration: underline;
}

.hyperlink5:active {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}